div.navbar.navbar-default.navbar-fixed-top
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#")
				i.fa.fa-bolt
		div.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li.active
					a(href="#contact")
						| Contact