doctype html
html
	head
		title
			| #{title}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		meta(name="description", content="TackAD, Printing, Free, Advertisement, Student, Marketing, Businesses, University")

		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		// Required by Bolt Theme
		link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		script(src="/javascripts/chart.js")
	body
		div#overlay
		include _header.html
		block content
		include _footer_logged.html
		block scripts
			script(src="/javascripts/jquery-2.1.1.min.js")
			script(src="/javascripts/bootstrap.min.js")
